<div class="container" ng-controller="AccountsController">
    <div class="page-header">
        <h1>我的微博账号列表</h1>
    </div>
    <p class="alert alert-danger">新浪微博对每个微博账号每天点赞评论转发次数均有限制，请添加多个账号，插件将会轮流使用账号执行点赞评论转发任务。账号信息都是保存在本地，请放心使用。</p>
    <p>
        <span class="btn btn-primary btn-file">导入账号<input type="file" id="import-file"></span> (示例文件：<a href="/accounts.txt" target="_blank">accounts.txt</a>)
    </p>
    <div class="table-responsive">
        <table id="datatable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>uid</th>
                    <th>昵称</th>
                    <th>状态</th>
                    <th>任务状态</th>
                    <th>任务限制次数</th>
                    <th class="operations">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="account in accounts">
                    <td>
                        <span editable-text="account.username" e-name="username" e-form="rowform" onbeforesave="checkName($data, account.id)" e-required e-placeholder="用户名">
                    {{ account.username || '空值' }}
                  </span>
                    </td>
                    <td>
                        <span editable-text="account.password" e-name="password" e-form="rowform" onbeforesave="checkPassword($data)" e-required e-placeholder="密码">
                    {{ '********' || '空值' }}
                  </span>
                    </td>
                    <td>{{ account.userId }}</td>
                    <td>{{ account.screenName }}</td>
                    <td>{{ account.status }}</td>
                    <td>
                        <ul class="configs">
                            <li>
                                <label>点赞：</label>
                                <a href="#" editable-checkbox="account.praisePaused" e-title="暂停?" onbeforesave="taskPaused('praise', $data, account.id)">
                            {{ account.praisePaused ? '暂停' : '正常' }}</a>
                                <label>评论：</label>
                                <a href="#" editable-checkbox="account.commentPaused" e-title="暂停?" onbeforesave="taskPaused('comment', $data, account.id)">
                            {{ account.commentPaused ? '暂停' : '正常' }}</a>
                            </li>
                            <li>
                                <label>转发：</label>
                                <a href="#" editable-checkbox="account.forwardPaused" e-title="暂停?" onbeforesave="taskPaused('forward', $data, account.id)">
                            {{ account.forwardPaused ? '暂停' : '正常' }}</a>
                                <label>收听：</label>
                                <a href="#" editable-checkbox="account.followPaused" e-title="暂停?" onbeforesave="taskPaused('follow', $data, account.id)">
                            {{ account.followPaused ? '暂停' : '正常' }}</a>
                            </li>
                            <li>
                                <label>私信：</label>
                                <a href="#" editable-checkbox="account.messagePaused" e-title="暂停?" onbeforesave="taskPaused('message', $data, account.id)">
                            {{ account.messagePaused ? '暂停' : '正常' }}</a>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="configs">
                            <li>
                                <label>点赞：</label>
                                <a href="#" editable-number="account.praiseCount" onbeforesave="taskCount('praise', $data, account.id)">
                            {{ account.praiseCount || 29 }}</a>
                                <label>评论：</label>
                                <a href="#" editable-number="account.commentCount" onbeforesave="taskCount('comment', $data, account.id)">
                            {{ account.commentCount || 29 }}</a>
                            </li>
                            <li>
                                <label>转发：</label>
                                <a href="#" editable-number="account.forwardCount" onbeforesave="taskCount('forward', $data, account.id)">
                            {{ account.forwardCount || 29 }}</a>
                                <label>收听：</label>
                                <a href="#" editable-number="account.followCount" onbeforesave="taskCount('follow', $data, account.id)">
                            {{ account.followCount || 29 }}</a>
                            </li>
                            <li>
                                <label>私信：</label>
                                <a href="#" editable-number="account.messageCount" onbeforesave="taskCount('message', $data, account.id)">
                            {{ account.messageCount || 29 }}</a>
                            </li>
                        </ul>
                        <a href="#" ng-click="showTaskLog(account)">任务执行情况</a>
                    </td>
                    <td class="operations">
                        <form editable-form="" name="rowform" onbeforesave="saveAccount($index, $data, account.id)" ng-show="rowform.$visible" shown="inserted == account" class="form-buttons form-inline">
                            <button type="submit" ng-disabled="rowform.$waiting" title="保存" class="btn btn-sm btn-primary">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" title="取消" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </form>
                        <div ng-show="!rowform.$visible" class="buttons">
                            <img ng-src="{{ account.pincodeImageUrl }}" alt="验证码" ng-show="account.showPincode" ng-click="changePincode(account)" class="img-pincode">
                            <input ng-model="account.pincode" class="form-control input-pincode" type="text" placeholder="验证码" maxlength="10" ng-show="account.showPincode" required>
                            <button ng-click="loginAccount($index, account)" title="登录" class="btn btn-sm btn-primary">
                                登录
                            </button>
                            <button ng-click="rowform.$show()" title="编辑" class="btn btn-sm btn-primary">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button ng-click="removeAccount($index, account.id)" title="删除" class="btn btn-sm btn-danger">
                                <em class="glyphicon glyphicon-trash"></em>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr ng-show="accounts.length === 0">
                    <td class="text-center" colspan="8">
                        暂无账号，请添加账号！
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button class="btn btn-primary" ng-click="addAccount()">添加账号</button>
    </div>
</div>
<script type="text/ng-template" id="task-logs-modal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">关闭</span>
        </button>
        <h4 class="modal-title">当前账号任务情况（{{ account.username }}）</h4>
    </div>
    <div class="modal-body">
        <table id="datatable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>日期</th>
                    <th>点赞</th>
                    <th>评论</th>
                    <th>转发</th>
                    <th>收听</th>
                    <th>私信</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="taskLog in taskLogs">
                    <td>
                        {{ taskLog.date }}
                    </td>
                    <td>
                        <span class="label label-default" ng-class="{ 'label-danger': (account.praiseCount || 29) <= taskLog.praiseCount }">{{ taskLog.praiseCount || 0 }}</span>
                    </td>
                    <td>
                        <span class="label label-default" ng-class="{ 'label-danger': (account.commentCount || 29) <= taskLog.commentCount }">{{ taskLog.commentCount || 0 }}</span>
                    </td>
                    <td>
                        <span class="label label-default" ng-class="{ 'label-danger': (account.forwardCount || 29) <= taskLog.forwardCount }">{{ taskLog.forwardCount || 0 }}</span>
                    </td>
                    <td>
                        <span class="label label-default" ng-class="{ 'label-danger': (account.followCount || 29) <= taskLog.followCount }">{{ taskLog.followCount || 0 }}</span>
                    </td>
                    <td>
                        <span class="label label-default" ng-class="{ 'label-danger': (account.messageCount || 29) <= taskLog.messageCount }">{{ taskLog.messageCount || 0 }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>
